.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.orangered-border {
    border: 1px solid orangered;
}

.col {
    background-color: gainsboro;
}

.col-8 {
    align-content: center;
}

#books-placeholder {
    width: 100%;
    table-layout: fixed;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.jumbotron {
    flex-shrink: 0;
    margin-bottom: 0;
}

main {
    flex: 1 0 auto;
}

.shadow {
    width: 210px;
    margin: 5%;
}

.page-item.active .page-link {
    background-image: linear-gradient(to left, #e74c3c, #e67e22);
    border: none;
}

.page-link {
    color: black;
}

.img-for-status {
    position: absolute;
    clear: both;
    transform: translateX(-45px);
}

.page-item.active .page-link {
    background-image: linear-gradient(to left, #e74c3c, #e67e22);
    border: none;
}

.page-link {
    color: black;
}


ul {
    list-style-type: none;
}

.dropdown-menu {
    border: 2px solid coral;
    background-image: linear-gradient(to left, #e74c3c, #e67e22);
}

.dropdown-menu a {
    color: white;
}

.dropdown-menu a:hover {
    color: white;
}

#btn-upgrade {
    border: none;
    padding: 12px 24px;
    width: 150px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    background-image: linear-gradient(to left, #e74c3c, #e67e22);
    outline: none;
}

#btn-upgrade:hover {
    position: relative;
    bottom: 1px;
    box-shadow: 1px 1px 4px lightslategray;
}

.filter-box {

}

.on-page-select {
    width: 160px;
}

.on-page-selectors-block {
    display: inline-block;
}

#filter-button {
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(to left, #e74c3c, #e67e22);
}

#reset-filters {
    margin-left: 35px;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(to left, #e74c3c, #e67e22);
    display: none;
}

.filter-header{
    font-weight: 600;
    margin-top: 10px;
}

.display-items-number{
    margin-left: 30px;
}

.available-header{
    margin-top: 10px;
}
