<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Book Info</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/book.css}">
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <link sec:authorize="hasAuthority('ADMIN')" rel="stylesheet" type="text/css" th:href="@{/css/notification.css}">
</head>
<body>
<main>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" style="justify-content: space-between">
        <a href="/all-books"><img th:src="@{/images/logo.png}" alt="logo" height="60px" width="180px"/></a>
        <div class="dropdown">
            <div class="notification" sec:authorize="hasAuthority('ADMIN')"></div>
            <button id="btn-upgrade" type="button" data-toggle="dropdown">
                <div><span id="name" sec:authentication="principal.username"></span></div>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation" class="presentation"><a role="menuitem" tabindex="-1"
                                                                href="/all-books">Home Page</a></li>
                <li role="presentation" class="presentation"><a role="menuitem" tabindex="-1" href="/personal-cabinet">Personal
                    Cabinet</a></li>
                <li sec:authorize="hasAuthority('ADMIN')" role="presentation" class="presentation"><a role="menuitem"
                                                                                                      tabindex="-1"
                                                                                                      href="/admin-page">Admin Page</a>
                </li>
                <li role="presentation" class="presentation"><a role="menuitem" tabindex="-1" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="bookInfo container mt-5 rounded">
        <div class="row">
            <div class="col-4 py-3">
                <img th:src="@{/images/books-icon.png}" class="img-fluid w-100 rounded"
                     alt="Book image" style="margin-top: 25%">
            </div>
            <div class="col-8 pt-1">
                <div class="col-12">
                    <h2 class="text-center font-weight-bold pt-2" id="title"></h2>
                    <div class="row d-flex pt-4">
                        <div class="col-12">
                            <table class="table">
                                <tr id="book-author"></tr>
                                <tr id="book-language"></tr>
                                <tr id="book-pages"></tr>
                                <tr id="book-description"></tr>
                                <tr id="book-status"></tr>
                                <tr id="book-added-by"></tr>
                                <tr id="book-added-at"></tr>
                                <tr id="book-tags"></tr>
                                <tr id="assignButton">
                                    <th id="assignButtons">

                                    </th>
                                    <td>
                                        <div class="common-update-delete-buttons">
                                            <div class="update-delete-buttons">
                                                <button class="update-delete-buttons btn btn-primary btn-lg"
                                                        id="update-modal-button"
                                                        sec:authorize="hasAuthority('ADMIN')" data-toggle="modal"
                                                        data-target="#update-modal">Update Content
                                                </button>
                                            </div>
                                            <div class="update-delete-buttons">
                                                <button class="update-delete-buttons btn btn-primary btn-lg"
                                                        id="delete-button-modal"
                                                        sec:authorize="hasAuthority('ADMIN')" data-toggle="modal"
                                                        data-target="#delete-modal">Delete Book
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="review container mt-3 rounded">
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-12">
                <h2 class="text-center pt-3">Reviews</h2>
            </div>
            <div class="my-4 w-75">
                <div class="form-group">
                    <label for="text-review">Share your opinion about this book with others:</label>
                    <textarea class="form-control" id="text-review" maxlength="2048" rows="5"></textarea>
                    <div class="mt-2" id="invalid-review"></div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="addBtn btn btn-primary btn-lg" onclick="addReview()">Add Review</button>
                </div>
            </div>
        </div>
        <div class="reviews row d-flex justify-content-center mb-5 mt-2 pb-4 text-wrap" id="reviews">
            <h3 class="pb-4" id="no-review">There are no reviews for this book</h3>
        </div>
    </div>
    <div th:insert="allBooksPage :: chat-page">
    </div>

    <!--Modal for Delete Book-->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="addbook modal fade" id="delete-modal"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Why do you want to delete the book?</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group ">
                        <label for="txt-delete-description"><span class="req"></span> Reason </label>
                        <textarea autocomplete="off" class="form-control" id="txt-delete-description"
                                  oninput="validateDescription(this.value);"
                                  required
                                  style="height: 60px" type="text"></textarea>
                    </div>
                    <div class="error-messages" id="errLast-description"></div>
                </div>
                <div class="modal-footer">
                    <button class="button-submit" id="close-delete-modal" data-dismiss="modal">Close</button>
                    <button class="button-submit" id="submit-delete">Delete Book</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal for Update Book-->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="addbook modal fade" id="update-modal"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5>UPDATE BOOK</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">

                        <div class="form-group language-pages">
                            <label for="txt-title"><span class="req"></span> Book Title </label>
                            <input autocomplete="off" class="form-control add" id="txt-title"
                                   oninput="validateTitle(this.value);"
                                   required
                                   type="text"/>
                            <div class="error-messages" id="errLast-title"></div>
                        </div>
                        <div class="form-group language-pages">
                            <label for="txt-pages"><span class="req"></span> Pages </label>
                            <input autocomplete="off" class="form-control add" id="txt-pages"
                                   oninput="validatePages(this.value);"
                                   required
                                   type="number"/>
                            <div class="error-messages" id="errLast-pages"></div>
                        </div>
                    </div>
                    <div class="form-group first-last-name">
                        <label for="txt-first-name"><span class="req"></span> Author first name </label>
                        <input autocomplete="off" class="form-control" id="txt-first-name"
                               oninput="validateFirstName(this.value);"
                               required
                               type="text"/>
                        <div class="error-messages" id="errLast-first-name"></div>
                    </div>

                    <div class="form-group first-last-name">
                        <label for="txt-last-name"><span class="req"></span> Author last name </label>
                        <input autocomplete="off" class="form-control" id="txt-last-name"
                               oninput="validateLastName(this.value);"
                               required
                               type="text"/>
                        <div class="error-messages" id="errLast-last-name"></div>
                    </div>
                    <br>

                    <div class="form-group py-2">
                        <label for="txt-language"><span class="req"></span> Language </label><br>
                        <select class="selectpicker" data-live-search="true" id="txt-language"
                                onchange="validateLanguage(this.value);"
                                title="Choose language...">
                        </select><br>
                        <div class="error-messages" id="errLast-language"></div>
                    </div>

                    <div class="form-group ">
                        <label for="txt-description"><span class="req"></span> Description </label>
                        <textarea autocomplete=" " class="form-control" id="txt-description"
                                  required
                                  style="height: 60px" type="text"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="button-submit" id="close-update-modal" data-dismiss="modal">Close</button>
                    <button class="button-submit" id="submit-update">Update Book</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="assignModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ASSIGN BOOK</h5>
                </div>
                <div class="modal-body" id="assignBookMessage">
                    <h3>Are you sure you want to assign this book?</h3><br>
                    <h4 class="alert-warning">Please remember that you can't have more than 3 books assigned and in queue</h4>
                </div>
                <div class="modal-body" id="waitingListMessage">
                    <h3>Are you sure you want to add this book to your waiting list?</h3><br>
                    <h4 class="alert-warning">Please remember that you can't have more than 3 books assigned and in queue</h4>
                </div>

                <div class="modal-body" id="messageSucces">
                    <h3 class="message-assign"></h3>
                    <img id="succesImage" src="/images/check.png"/>
                </div>

                <div class="modal-body" id="messageError">
                    <h3>Something went wrong<br> please try again !</h3>
                    <img id="errorImage" src="/images/error.png"/>
                </div>


                <div class="modal-footer" id="assignBook">
                    <button class="buton-submit" data-dismiss="modal" id="close" type="button">
                        NO
                    </button>
                    <button class="buton-submit" id="submit-assign"> YES</button>
                </div>

                <div class="modal-footer" id="afterAction">
                    <button class="buton-submit" data-dismiss="modal" type="button" onclick="location.reload()">NO</button>
                    <button class="buton-submit" data-dismiss="modal" onclick="location.reload()"> YES</button>
                </div>
            </div>
        </div>
    </div>
</main>
<!--Footer-->
<div class="jumbotron text-center"></div>
<div th:insert="allBooksPage :: chat-page"></div>
<!--Script-->
<script th:src="@{/scripts/book.js}"></script>
<script sec:authorize="hasAuthority('ADMIN')" th:src="@{/scripts/notification.js}"></script>
<script th:src="@{/scripts/chat.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</body>
</html>